/* gradient fallbacks taken from csstricks.com */

body {
    background-image: radial-gradient(farthest-corner at 40px 40px, rgb(0, 0, 0) 0%, #041225 100%);
    margin: 0px;
    overflow: hidden;
}

#lineInfo {
    float: left;
    left: 10%;
    top: 10%;
    width: 200px;
    height: 20px;
    position: fixed;
    font-family: "Roboto Condensed";
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    font-size: 13px;
    cursor: zoom-in;
    z-index: 1000;
}