body {
    font-family: "Roboto Condensed";
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    overflow: hidden;
}

.modalText,
.modalText,
.modalText {
    color: rgb(0, 0, 0);
}

.modal-lg {
        max-width: 75% !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: "Roboto Condensed";
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.centered {
    margin: auto;
    background-color: #00000079;
}

.logo {
    max-width: 60px;
    top: 85%;
    left: 2%;
    position: fixed;
    z-index: 5000;
}

.row {
    padding: 7rem;
    margin: 0 !important;
}

.navi-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Youtube b/g */

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}