body {
    /* background-image: radial-gradient(farthest-corner at 40px 40px, rgb(0, 0, 0) 0%, #041225 100%); */
    background: -webkit-radial-gradient(rgb(0, 0, 0) 0%, #0d1e36 100%);
    overflow: hidden;
    font-family: "Roboto Condensed";
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
}

.overCanvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
}

.dg.ac{
z-index: 10000;
}


.row {
    margin-top: 2rem;
    margin-bottom: 2rem
}

h1 {
    font-weight: 700;
}

#prgsDiv {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    font-size: 50px;
    z-index: 1000;
}

.timeDivContainer{
    height: 5rem;
    width: 20rem;
}