body {
    background: -webkit-radial-gradient(rgb(0, 0, 0) 0%, #0d1e36 100%);
    background-image: url("bg.png");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Roboto Condensed";
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    text-align: justify;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: "Roboto Condensed";
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.centered {
    margin: auto;
    background-color: #00000079;
}

.logo {
    max-width: 60px;
    top: 10%;
    left: 2%;
    position: fixed;
    z-index: 5000;
}

.row {
    padding: 7rem;
}

.navi-bg {
    background-color: rgba(0, 0, 0, 0.5);
}