/* gradient fallbacks taken from csstricks.com */

body {
    background-image: radial-gradient(farthest-corner at 40px 40px, rgb(0, 0, 0) 0%, #041225 100%);
    margin: 0px;
    overflow: hidden;
}

#lineInfo {
    float: left;
    left: 5%;
    top: 80%;
    width: auto;
    height: auto;
    position: fixed;
    font-family: "Roboto Condensed";
    color: rgb(255, 255, 255);
    background: none;
    font-size: 30px;
    z-index: 1000;
}

#prgsDiv {
    float: left;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    position: fixed;
    font-family: "Roboto Condensed";
    color: rgb(255, 255, 255);
    background: none;
    font-size: 100px;
    z-index: 1000;
}

button {
    float: left;
    left: 5%;
    top: 95%;
    width: 100px;
    height: auto;
    position: fixed;
    font-family: "Roboto Condensed";
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 10px;
    cursor: -webkit-zoom-in;
    z-index: 1000;
}

button:hover {
    background: rgb(64, 74, 84);
}